{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9">
            <div class="jumbotron">
                <h1>{{ book.book_name }} </h1>
                <p> Author: {{ book.book_author }} </p>
                <p> ISBN: {{ book.book_isbn }} </p>
                <p> Year: {{ book.book_year }} </p>
                {% if goodreads %}
                <p> Goodreads Reviews: {{ goodreads.work_ratings_count }} </p>
                <p> Goodreads Average Rating: {{ goodreads.average_rating }}</p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-6">
                    <img id="book_picture" class="rounded mw-100"
                         src="{{ url_for('static',filename='images/placeholder.jpg') }}"
                         alt="Book: {{ book.book_name }} by {{ book.book_author }}">
                </div>
                <div class="col-6">
                    <h2>Summary</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Odio tempor orci dapibus ultrices
                        in iaculis nunc. Hendrerit dolor magna eget est lorem ipsum dolor sit. Lobortis
                        mattis aliquam faucibus purus in massa tempor nec feugiat. Sagittis orci a
                        scelerisque purus semper eget duis at tellus. In ornare quam viverra orci sagittis
                        eu volutpat odio. Rutrum tellus pellentesque eu tincidunt. Vel quam elementum
                        pulvinar etiam non quam lacus suspendisse. Volutpat ac tincidunt vitae semper
                        quis lectus nulla at. Ac auctor augue mauris augue neque gravida in fermentum.
                        Gravida in fermentum et sollicitudin ac. Arcu felis bibendum ut tristique et
                        egestas quis ipsum suspendisse. Lectus quam id leo in.
                    </p>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-->

    {% if reviews | length != 0 %}
    <div class="row">
        <h3> Reviews: </h3>
    </div>
    {% for review in reviews %}
    <br>
    <div class="card book_reviews">
        <div class="card-header col-sm">
            <h5 class="card-title result-title">{{ review.review_name }} </h5>
            <p> {{ review.acct_name }} </p>
        </div>
        <div class="card-body col-sm">
            <p class="card-text"> {{ review.review_text }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <br>

    {% if review_active %}
    <h3> Feel free to write a review: </h3>
    <br>
    <form id="review_form" method="POST" action="{{ url_for('post_review',book_id=book.book_id) }}">
        <label for="review_title"><h4> Review Name: </h4></label>
        <br>
        <input id="review_name" type="text" name="review_title" placeholder="Your review name!" required>
        <br>
        <label for="review_text"><h4> Your Book Keeper Review: </h4></label>
        <br>
        <textarea id="review_text" type="text" name="review_text" placeholder="Your thoughts!" required></textarea>
        <br>
        <button id="submit_review" type="submit" class="signupbtn">Submit Review</button>
    </form>
    {% else %}
    <div class="row">
        <h3> You have already submitted a review! </h3>
    </div>

    {% endif %}
</div>

{% endblock %}