<!doctype html>
<html>
<head>
    {% block head %}
    {% block basestyle %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    {% endblock %}
    {% block customstyle %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - Book Keeper </title>{% endblock %}

    {% block javascript %}
    {% block basescript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {% endblock %}
    {% block customscript %}
    {% endblock %}
    {% endblock %}

</head>
<body>
{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Book Keeper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul id="user_navbar" class="navbar-nav mr-auto">
            {% if session['email'] %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('search') }}"> Search</a>
            </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="#"> About</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if session['email'] %}
            <li class="nav-item active">
                <a class="nav-link" href="#"> {{ session['name'] }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('logout') }}"> Logout <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('login') }}"> Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('register') }}"> Register <span
                        class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <li class="flash_message">
        {% if category == "message" %}
        <div class="alert alert-primary" role="alert">
            {% else %}
            <div class="alert alert-{{ category }}" role="alert">
                {% endif %}
                {{ message }}
            </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div id="main_content">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
<hr>
<footer>
    <p id="website_by_clause"> Chris Kottmyer - Website </p>
</footer>
{% endblock %}
</body>
</html>
